.hl_wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 80px auto;
   h1{
    color: #010310;
    text-align: center;
    font-family: "Clash Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 40px */
    text-transform: capitalize; 
   } 
   .hl_imgs{
    display: flex;
    gap: 20px;
    margin: auto;
    @media screen and (max-width: 800px) {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        }
    img{
        border-radius: 20px;
        @media screen and (max-width: 800px) {
            height: 300px;
            width: 100%;
            }
    }

    .hl_img_wrapper{
        position: relative;
        p{
            color: #FFF;
            text-align: center;
            font-family: "Clash Display";
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            text-transform: capitalize;
            position: absolute;
            top: 30px;
            left: 20%;
            max-width: 180px;
            margin: auto;
        
        }
    }
   }
}