.acc_wrapper {
    max-width: 1196px;
    margin: 80px auto 100px auto;
    overflow: hidden;
    .acc_intro {
        text-align: center;
        @media screen and (max-width: 1440px) {
            max-width: 90%;
            margin: auto;
            }
        h1 {
            font-family: "Clash Display";
            font-size: 40px;
            font-weight: 600;
            line-height: 100%;
            text-transform: capitalize;
        }

        p {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
        }
    }

    .acc_certificates {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 40px;

        .certificate_1,
        .certificate_3 {
            width: 400px;
            height: 300.99px;
            flex-shrink: 0;
 
        }

        .certificate_2 {
            width: 500px; 
            height: 375px;
            position: absolute;
            top: 0;
            left: 50%; 
            transform: translateX(-50%); 
            z-index: 1;
        }

        .certificate_1 {
            margin-right: 388px;
            z-index: 0;
            margin-top: 36px;
        }

        .certificate_3 {
            margin-left: -80px;
            z-index: 0;
            margin-top: 41px;
        }
    }
}
