/* Main Wrapper */
.cookiePoliciesMainWrapper {
  padding: 100px 100px;
  @media only screen and (max-width: 1100px) {
    padding: 50px 50px;
  }
  @media only screen and (max-width: 600px) {
    padding: 20px 20px;
  }
  .cookiePoliciesWrapper {
    max-width: 1235px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    /* Header Section */
    .headerSection {
      /* Add styles here */

      .cookiePolicyHeader {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media only screen and (max-width: 600px) {
          gap: 15px;
        }

        h3 {
          /* Add styles here */
        }

        p {
          font-family: var(--main-font-family);
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          line-height: 25px;
          @media only screen and (max-width: 600px) {
            font-size: 15px;
          }
        }
      }
    }

    /* Cookie Information */
    .cookieInformation {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media only screen and (max-width: 600px) {
        gap: 15px;
      }

      h3 {
        font-family: var(--main-font-family);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        @media only screen and (max-width: 600px) {
          font-size: 18px;
        }
      }
      ul {
        list-style-type: disc;
      }

      .policyDetails {
        font-family: var(--main-font-family);
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        @media only screen and (max-width: 600px) {
          font-size: 15px;
        }
      }

      .importantPolicyDetails {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
      }
    }
    .websiteLink {
      cursor: pointer;
      color: #cc3366;
    }
    .linkHere {
      font-style: italic;
    }
    /* Changes Cookie Policy */
    .changesCookiePolicy {
      p {
        line-height: 25px;
        font-family: var(--main-font-family);
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        @media only screen and (max-width: 600px) {
          font-size: 15px;
        }
      }

      .cookieInformation {
        font-family: var(--main-font-family);
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        @media only screen and (max-width: 600px) {
          font-size: 15px;
        }
      }
      .questionRelatedCookies {
        font-family: var(--main-font-family);
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        @media only screen and (max-width: 600px) {
          font-size: 20px;
        }
      }
    }
    .changePolicy {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .personalData {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media only screen and (max-width: 600px) {
        gap: 15px;
      }
    }
    .technicalData {
      margin-top: 40px;
      @media only screen and (max-width: 600px) {
        margin-top: 20px;
      }
    }
    .browserCookie {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .cookiesWrapper {
      padding-top: 70px;
      @media only screen and (max-width: 1000px) {
        padding-top: 50px;
      }
      @media only screen and (max-width: 600px) {
        padding-top: 30px;
      }
      .cookiesSection {
        display: flex;
        flex-direction: column;
        gap: 50px;
        @media only screen and (max-width: 600px) {
          gap: 20px;
        }

        p {
          font-family: var(--main-font-family);
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          @media only screen and (max-width: 600px) {
            font-size: 15px;
          }
        }
        .cookiesDetails {
          display: flex;
          flex-direction: column;
          gap: 15px;
          @media only screen and (max-width: 600px) {
            gap: 10px;
          }
        }
      }

      .wrapper {
        display: flex;
        gap: 40px;
        flex-direction: column;
        @media only screen and (max-width: 600px) {
          gap: 30px;
        }
      }
    }
  }
  .cookiesTitle {
    text-decoration: underline;
  }
  .googleAnalytics {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .highlightedText {
    font-weight: bold;
  }
  .ourCookiesSection {
    margin-top: 30px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    @media only screen and (max-width: 600px) {
      margin-top: 0px;
      gap: 20px;
    }
  }
  .cookiesGroupSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .underlineText {
    text-decoration: underline;
  }
  .thirdParty {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .blockCookies {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    @media only screen and (max-width: 600px) {
      margin-top: 0px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-left: 10px;
    }
  }
  .advertisingSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .cookiesExpiry {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
    @media only screen and (max-width: 600px) {
      gap: 20px;
      margin-top: 10px;
    }
  }
  .moreCookies {
    @media only screen and (max-width: 600px) {
      line-break: anywhere !important;
    }
  }

  .advertisingAlliance {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .cookieControlWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .cookieControl {
      font-size: 20px !important;
      font-weight: bold !important;
      text-decoration: underline;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
