:root {
  --header-font-family: "Clash Display";
  --White: #fff;
  --Black: #010310;
  --Light-Black: #010310;
  --brand-theme-color: #206aff;
  --brand-navyBlue-color: #0d164e;
  --main-font-family: "Montserrat";
}
